.header, .footer {
  display: block;
  width: 100vw;
  height: 5.5rem;
  margin: 0;
  padding: 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: end;

  &_text {
    margin: 1rem;
    &--link {
      color: #71CB9F;
    }
  }
}

.header_icon {
  height: 4rem;
  width: 4rem;
  margin: 0.5rem;
}

.main-content {
  min-height: calc(100vh - 15rem);
  padding: 1rem;
}

.main-heading {
  text-align: center;
  font-weight: 900;
  letter-spacing: 0;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2rem;
}

.form_input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 0;
  max-width: fit-content;
  label {
    margin-bottom: 0.5rem;
  }

  &--checkbox {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  &--dropdown {
    color: #f9f3f0;
    font-family: 'Tenon', 'Arial Black', sans-serif;
    border: 2px solid #71cb9f;
    background-color: #056365;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    transition: border-radius .2s .1s;
    width: 13.75rem;
  }
}

.button--primary {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #71CB9F;
  border-radius: 30px;
  cursor: pointer;
  display: inline-block;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: background-color .3s, color .3s, border-color .3s;
  color: #056365;
  border: 1px solid #71cb9f;
  width: 13.75rem;
}

.error {
  color: #fdf3a7;;
}

.results_container {
  background-color: #F9F3F0;
  color: #056365;
  padding: 2rem;

  ul {
    padding: 0 1rem;
  }
}

.results_header {
  margin: 0;
}

@media (min-width: 768px) {
  .main-heading {
    font-size: 2.5rem;
    line-height: 4rem;
  }

  .main-content {
    padding: 2rem;
  }

  .form_input {
    width: 350px;
  }

  .results_container ul {
    padding: 0 2rem;
  }
}
