body {
  margin: 0;
  font-family: 'Korolev', 'Arial Black', sans-serif;
  color: #F9F3F0;
}

#app {
  font-weight: normal;
  background: #056365;
}

a {
  display: inline-block;
  font-size: 1rem;
  font-family: 'Korolev', 'Arial Black', sans-serif;
  font-weight: 900;
  margin-top: 1rem;
  text-decoration: underline;
  text-transform: uppercase;
}

@media (hover: hover) {
  a:hover {
    text-decoration: none;
  }
}
