.form_input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 0;
  max-width: fit-content;
  label {
    margin-bottom: 0.5rem;
  }

  &--checkbox {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  &--dropdown {
    color: #f9f3f0;
    font-family: 'Tenon', 'Arial Black', sans-serif;
    border: 2px solid #71cb9f;
    background-color: #056365;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    transition: border-radius .2s .1s;
    width: 13.75rem;
  }
}

.button--primary {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #71CB9F;
  border-radius: 30px;
  cursor: pointer;
  display: inline-block;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: background-color .3s, color .3s, border-color .3s;
  color: #056365;
  border: 1px solid #71cb9f;
  width: 13.75rem;
}

.error {
  color: #fdf3a7;;
}

@media (min-width: 768px) {
  .form_input {
    width: 350px;
  }
}