.results_container {
  background-color: #F9F3F0;
  color: #056365;
  padding: 2rem;

  ul {
    padding: 0 1rem;
  }
}

.results_header {
  margin: 0;
}

@media (min-width: 768px) {
  .results_container ul {
    padding: 0 2rem;
  }
}
